doctype html
html
  head
    meta(charset='utf8')
    title.
      标题
  body
    // npm i pug    npm i pug-cli -g
    // 运行pug指令： pug -P(不压缩) -w(监视文件变化，自动render) xxx
    // 标签属性
    a(href="http://www.baidu.com",class="link", id="link")
    // style
    div.box(style={width: '100px', height: '100px', 'background-color': 'pink'}, id='box1')
    div#box2(style={width: '100px', height: '100px', 'background-color': 'pink'})
    // 自定义属性和文本
    p(data-src="xxx").
      这是一段文本
    p&attributes({'data-xxx': 'yyy'})|这是另一段文本
    // 定义变量。没有输出。在模板中可以直接使用变量
    - const name = 'damu';
    // 使用变量
    p.
      #{name}
    script.
      const age = 18;

    - const flag = false;
    // 条件判断
    if (flag)
      p.
        flag的值是true
    else
      p.
        flag的值是false

    // 循环
    - const person = {name: 'damu', age: 38};
    - for(let key in person)
        p.
          #{key}：#{person[key]}
    each value, key in person
      p.
        #{key}：#{value}

    - const arr = [1, 2, 3, 4];
    - for(let index in arr)
      p.
        #{index}--#{arr[index]}
    each value, index in arr
      p.
        #{index}：#{value}